dialog[open] {

    position: fixed;

    top: 15vh;
    
    transform: translateY(-50%);

    /* min, preferred, max */
    width: clamp(300px, 50%, 600px);

    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* reset default dialog styles */
    border: none;
    padding: 0;

}

:host([backdrop="false"]) dialog[open] {
    transform: none;
}

dialog[open]::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

header {
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5;
}

::slotted(h1) {
    font-size: 1.25rem;
    margin: 0;
}

#content {
    padding: 1rem;
}

#buttonPanel {
    border-top: 1px solid #e5e5e5;
    padding: 1rem;
    display: flex;
    justify-content: end;
}

#buttonPanel button {
    margin: 0 0.25rem;
}